@page "/"
@inject NavigationManager Navigation

<PageTitle>Kashings :: Welcome</PageTitle>
<AuthorizeView>
    <Authorized>
       <h1>Authenticate</h1>
    </Authorized>
    <NotAuthorized>
        @{
            Navigation.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>
