<Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse>
    <div class="logo" />
    <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
        <MenuItem Key="1">
            <Icon Type="home" Theme="outline" />
            <span>Home</span>
        </MenuItem>
        @{
            RenderFragment usersTitle =
            @<span>
                <Icon Type="team" Theme="outline" />
                <span>Users</span>
            </span>;
        }
        <SubMenu Key="users" TitleTemplate=usersTitle>
            <MenuItem Key="3">Tom</MenuItem>
            <MenuItem Key="4">Bill</MenuItem>
            <MenuItem Key="5">Alex</MenuItem>
        </SubMenu>
        @{
            RenderFragment departmentTitle =
            @<span>
                <Icon Type="cluster" Theme="outline" />
                <span>Departments</span>
            </span>;
        }
        <SubMenu Key="departments" TitleTemplate=departmentTitle>
            <MenuItem Key="6">Sales</MenuItem>
            <MenuItem Key="8">Engineering</MenuItem>
        </SubMenu>
    </Menu>
</Sider>

@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        Console.WriteLine(collapsed);
        this.collapsed = collapsed;
    }
}
